@import url(http://fonts.googleapis.com/css?family=Signika);

/** {outline: 1px solid red;}*/

body {
	background: #F8F8FF;
	font-family: 'Signika', sans-serif;
}

#mainTitle {
	color: #3dc5f9;
	margin-top: 50px;
}

fieldset {
	max-width: 300px;
	margin: 0 auto;
	padding: 20px;
	border: transparent;
	box-shadow: 2px 3px 5px 1px #888888;
}

input[type="text"], input[type="password"] {
	margin: 10px;
	width: 290px;
	height: 30px;
	margin: 10px auto;
	padding-left: 10px;
	border: transparent;
	outline: 1px solid #cfcfcf;
}
input[type="text"]:focus {
	outline: 1px solid #3dc5f9;
	border: transparent;
}
button {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	padding: 5px 25px;
	border: 1px solid #3dc5f9;
	background: transparent;
	color: #3dc5f9;
	border-radius: 3px;
}

button:hover {
	cursor: pointer;
	background: #3dc5f9;
	color: #F8F8FF;
}

button:focus {
	outline: 0;
}

.card {
	text-align: center;
	box-shadow: 1px 1px 1px #bbbbbb;
	background: #efefef;
}

.card p {
	margin: 0 0 20px 0;
	color: #F8F8FF;
	background: #fa4148;
	padding: 10px 0 10px 0;
}

.projectImg {
	border-radius: 50%;
	margin-bottom: 20px;
}