body {
	background: #F8F8FF;
}

fieldset {
	max-width: 300px;
	margin: 0 auto;
	padding: 20px;
	border: transparent;
	box-shadow: 2px 3px 5px 1px #888888;
}

input[type="text"] {
	margin: 10px;
	width: 290px;
	height: 30px;
	margin: 10px auto;
	padding-left: 10px;
	border: transparent;
	outline: 1px solid #cfcfcf;
}
input[type="text"]:focus {
	outline: 1px solid #3dc5f9;
	border: transparent;
}
button {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px 25px;
	border: 1px solid #3dc5f9;
	background: transparent;
	color: #3dc5f9;
}

button:hover {
	cursor: pointer;
	background: #3dc5f9;
	color: #F8F8FF;
}

button:focus {
	outline: 0;
}