fieldset {
	max-width: 300px;
	margin: 0 auto;
	padding: 20px;
	border: none;
	box-shadow: 2px 3px 5px 1px #888888;
}

input[type="text"] {
	margin: 10px;
	width: 265px;
	height: 30px;
	margin: 10px auto;
	padding-left: 10px;
}

button {
	display: block;
	margin: 0 auto;
	height: 25px;
	width: 60px;
}