<div class="container">
	<div class="row">
		<h6 align="center">{{ message }}</h6>
		<div class="two columns card" shows-message-when-hovered message="First Project">
			<img class="projectImg" src="http://placehold.it/100x100">
			<p>Michael</p>
		</div>
		<div class="two columns card" shows-message-when-hovered message="Second Project">
			<img class="projectImg" src="http://placehold.it/100x100">
			<p>Horace</p>
		</div>
		<div class="two columns card" shows-message-when-hovered message="Third Project">
			<img class="projectImg" src="http://placehold.it/100x100">
			<p>Stacey</p>
		</div>
		<div class="two columns card" shows-message-when-hovered message="First Project">
			<img class="projectImg" src="http://placehold.it/100x100">
			<p>Scottie</p>
		</div>
		<div class="two columns card" shows-message-when-hovered message="Second Project">
			<img class="projectImg" src="http://placehold.it/100x100">
			<p>Craig</p>
		</div>
		<div class="two columns card" shows-message-when-hovered message="Third Project">
			<img class="projectImg" src="http://placehold.it/100x100">
			<p>Bill</p>
		</div>
	</div>
	<p id="logout" ng-click="logout()">Logout</p>
</div>